@import 'var';

.front-page {

    color: white;
    background-color: #000;
}

.hero {
    height: 600px;

    .hero-image {
        width: 350px;
        height: 350px;
    }
}

//case study

.case-study-topic {
    width: 650px;

    
}

.container{
    width: 1170px;
}

.case{
    img{
        width: 450px;
        height: 300px;
    }
}